body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/jan-loyde-cabrera-J3A5rtfHu0M-unsplash.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

a:hover {
  color:lightgreen;
}

.all-keyboards {
  width: 90%;
  margin: auto;
}

.all-keyboards article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#product-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-details {
  text-align: center;
  margin-top: 50px;
}

.button-nav {
  margin: 100px;
}